@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60vh;
    width: 95vh;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    /*background-color: rgba(66, 66, 66, 0.24);*/
  }

.selector {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

.item{
    background-color: rgba(58, 58, 58, 0.205);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgba(36, 36, 36, 0.849);
}

.decai{

}
.color{
    display: flex;
    flex-direction: column;
}

.colorselect{
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.color1{
    height: 25px;
    width: 25px;
    margin: 4px;
    border-radius: 1px;
    cursor: pointer;
    border: 2px solid white;
    background-color: black;

}

.color2{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: white;

}

.color3{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: red;

}

.color4{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: blue;

}

.bolsillo{
    display: flex;
    flex-direction: column;
}

.selectorbol{
    cursor: pointer;
}

.hat{
    display: flex;
    flex-direction: column;    
}

.selectorhat{
    cursor: pointer;
}

img{
    width: 100px;
    height: 100px;
}

.selectortext{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid rgba(36, 36, 36, 0.849);
}

#item {
    box-shadow: inset rgba(218, 218, 218, 0.37) 0px 0px 90px -12px;
}

footer{
    color: rgb(31, 31, 31);
    height: 40px;
    font-weight: 300;
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 0 6px 0 6px;
}

@media screen and (max-width:45em){
    .container{
        width: 80%;
        height: 80%;
        flex-direction: column;
        align-items: normal;
    }
    .canvas{
        order: 1;
    }
    .selector{
        height: 40%;
        flex-wrap: wrap;
        order: 2;
    }
    .item{
        
    }

    .colorselect{
        height: auto;
        margin: 0;
    }
    .selectortext{
        height: 30px;
    }

    .color1{
        width: 30px;
        height: 30px;

    }
    .color2{
        width: 30px;
        height: 30px;
        
    }
    .color3{
        width: 30px;
        height: 30px;
        
    }
    .color4{
        width: 30px;
        height: 30px;
        
    }

    img{
        width: 80px;
        height: 80px;
    }

    footer{
        font-size: 15px;
    }

}