@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60vh;
    width: 95vh;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    /*background-color: rgba(66, 66, 66, 0.24);*/
  }

  .logo{
    width: 500px;
    filter: invert();
  }

  .capucha{
    width: 140px;
  }

.selector {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item{
    background-color: rgba(58, 58, 58, 0.205);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgba(36, 36, 36, 0.849);
}

.decai{
    display: flex;
    flex-direction: column;
}

.decalselect{
    width: 160px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 4px;
    width: 100%;
    cursor: pointer; /* Añadido para mostrar que es un botón interactivo */
    background-color: #f9f9f9;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}


.dropbtn::after {
content: "\2228"; /* Código Unicode de la flecha hacia abajo */
font-size: 12px;
font-weight: bold;
margin-left: 5px; /* Espacio entre el texto y la flecha */
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 90%;
    max-height: 150px; /* Altura máxima de la lista */
    overflow-y: auto; /* Agregar scroll vertical */
    overflow-x: hidden; /* Ocultar scroll horizontal */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px 10px;
    margin-top: 5px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 90%;
    max-height: 150px; /* Altura máxima de la lista */
    overflow-y: auto; /* Agregar scroll vertical */
    overflow-x: hidden; /* Ocultar scroll horizontal */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px 10px;
    margin-top: 5px;
    
}

.decalselect.active .dropdown-content {
    display: block; 
}
.bolselect.active .dropdown-content2 {
    display: block; 
}

.decai1{
    width: 100%;
    height: 145px;  
    cursor: pointer;
    background-color: aquamarine;
}
.decai2{
    width: 100%;        
    height: 145px;
    margin: 10px 0 0 0;
    cursor: pointer;
    background-color: aquamarine;
}
.decai3{
    width: 100%;        
    height: 145px;
    margin: 10px 0 0 0;
    cursor: pointer;
    background-color: aquamarine;
}
.decai4{
    width: 100%;        
    height: 145px;
    margin: 10px 0 0 0;
    cursor: pointer;
    background-color: aquamarine;
}


.color{
    display: flex;
    flex-direction: column;
}

.colorselect{
    display: flex;    
}

.color1{
    height: 25px;
    width: 25px;
    margin: 4px;
    border-radius: 1px;
    cursor: pointer;
    border: 2px solid white;
    background-color: black;

}

.color2{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: white;

}

.color3{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: red;

}

.color4{
    height: 25px;
    width: 25px;
    margin: 4px;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid white;
    background-color: blue;

}

.bolsillo{
    display: flex;
    flex-direction: column;
}

.bolselect{
    width: 160px;
    position: relative;
    display: inline-block;
}

.bolsi1{
    width: 100%;
    height: 145px;
    cursor: pointer;
    
    background-color: crimson;
}
.bolsi2{
    width: 100%;
    height: 145px;
    cursor: pointer;
    margin: 10px 0 0;
    background-color: crimson;
}
.bolsi3{
    width: 100%;
    height: 145px;
    cursor: pointer;
    margin: 10px 0 0;
    background-color: crimson;
}
.bolsi4{
    width: 100%;
    height: 145px;
    cursor: pointer;
    margin: 10px 0 0;
    background-color: crimson;
}

.hat{
    display: flex;
    flex-direction: column;    
}

.selectorhat{
    cursor: pointer;
}



.selectortext{
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid rgba(36, 36, 36, 0.849);
}

#item {
    box-shadow: inset rgba(218, 218, 218, 0.37) 0px 0px 90px -12px;
}

footer{
    color: rgb(31, 31, 31);
    height: 40px;
    font-weight: 300;
    display: flex;
    margin-top: 10px;
    align-items: center;
    padding: 0 6px 0 6px;
}

@media screen and (max-width:45em){
    .container{
        width: 80%;
        height: 80%;
        flex-direction: column;
        align-items: normal;
    }
    .canvas{
        order: 1;
    }
    .selector{
        height: 15%;
        flex-wrap: wrap;
        order: 2;
    }
    .item{
        
    }

    .colorselect{
        width: 95%;
        margin: 0;
    }
    .selectortext{
        height: 30px;
    }
    
    .decalselect{
        width: 85%;
        flex-wrap: nowrap;
    }

    .decai1{
        width: 300px;
        height: 400px;
    }
    .decai2{
        width: 300px;        
        height: 400px;
    }
    .decai3{
        width: 300px;        
        height: 400px;
    }
    .decai4{
        width: 300px;        
        height: 400px;
    }
    .color1{
        width: 40px;
        height: 40px;
    }
    .color2{
        width: 40px;
        height: 40px;    
    }
    .color3{
        width: 40px;
        height: 40px;    
    }
    .color4{
        width: 40px;
        height: 40px;
    }

    .bolselect{
        width: 95%;
    }

    .bolsi1{
        width: 50px;
        height: 50px;
    }
    .bolsi2{
        width: 50px;
        height: 50px;
    }
    .bolsi3{
        width: 50px;
        height: 50px;
    }
    .bolsi4{
        width: 50px;
        height: 50px;
    }

    img{
        width: 80px;
        height: 80px;
    }

    footer{
        font-size: 15px;
    }

    .selectortext{
        display: none;
    }

    .dropdown-content {
        z-index: 999; /* Asegura que el modal esté encima del fondo */
        position: fixed; /* Fija la posición del elemento con respecto a la ventana del navegador */
        top: 20%; /* Coloca el elemento 10% desde la parte superior del viewport */
        left: 13%; /* Coloca el elemento 10% desde el lado izquierdo del viewport */
        width: 70%; /* Establece el ancho del elemento al 80% del viewport */
        height: 60%; /* Establece la altura del elemento al 80% del viewport */
        max-height: 100%;   
    }
    


}