
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body {
      margin: 0;
      padding: 0;
      padding-top: 200px;
      font-size: 16px;
      line-height: 1.em;
      font-family: 'Roboto';
      background-color: black;
  }

  a{
    text-decoration: none;
    color: inherit;
}


header{
    /*background-image: url(../img/BG_Cover.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

  .fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: #222;
    top:0;
    background: #212121;
    font-family: 'Roboto', sans-serif;
}




nav{
    width: 100%;
    margin-bottom: .1em;
    background: #fcfcfc;
    color: rgb(0, 0, 0);
    border-bottom:4px solid #101010;
}

.cabezera{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.cabezera2{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav-item{
    display: inline-block;
    padding: 15px;
    font-weight: 300;
    font-size: 1.2em;
}

ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.5s;
}


.nav-active,.nav-item:hover{
    cursor: pointer;
    background: rgba(194, 194, 194, 0.2);
    border-bottom: 2px solid rgba(255,255,255,.8);
}

.nav-item2{
    display: flex;
    padding: 15px;
    font-weight: 100;
    font-size: 1.2em;
    color: white;
    background: #000000;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,.8);
}

.nav-item2:hover{
    color: rgb(255, 255, 255);
    background: rgb(58, 58, 58);
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.logo{
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 2px;
}

.texto{
    display: inline-block;
    max-width: 250px;
    padding: 15px;
    flex-grow: 2;
}

.texto h1{
    color: #d8d8d8;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    margin: 5px 0 0 0;
}

.texto h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.texto2 {
    font-weight: 800;
    display: inline-block;
    max-width: 80px;
    padding: 15px;
    flex-grow: 2;
}
.texto2 h2:hover{
    font-weight: bold;
}

.texto2 h2{
    padding: 5px;
    color: #000000;
    font-size: 0.8em;
    text-align: center;
    margin: 0px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.menu-bar{
    height: 2.5em;
    width: 100%;
    box-sizing: border-box;
    background: #242424;
    text-align: left;
    padding: 15px 20px;
    color: white;
    font-size: 1.4em;
    display: none;
}

.hamburger-icon{
    float: right;
    clear: both;
    margin-top: -5px;
    font-size: 1.4em;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}

.profile{
    background-color: white;
    display: flex;
    width: 100%;
    height: 73vh;
}

.flexbox{
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-manager{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(133, 133, 133);
}
.estado-pendiente {
    font-weight: bold;
    color: blue;
}

.estado-enviado {
    font-weight: bold;
    color: orange;
}

.estado-entregado {
    font-weight: bold;
    color: green;
}

.estado-finalizado {
    /* Agrega estilos para el estado finalizado aquí si es necesario */
}

#contenido1{
    width: 100%;
    height: 100%;
}

#user-photo{
    width: 20%;
    border-radius: 100px;
    margin: 30px;
}

.profile-cont{
    width: 2px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}
.profile-cont2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-1{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4em;
}

.content-user-reg{
    width: 100%;
    height: 80%;
}

.table-scroll {
    height: 20em; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(252, 252, 252);
}

.table-scroll tr{
    width:40px;
}

.table-scroll .user-registers {
    border-top: none; /* Eliminar borde duplicado entre thead y tbody */
}

.user-mm{
    
    color: black;
    font-size: 1.4em;
    margin: 20px;
}
.user-mm td{
    display: flex;
    padding: 10px;
    border: none;
}
.user-mm td:nth-child(1){
    color: rgb(97, 97, 97) ;
}
.user-mm td:nth-child(2){
    font-weight: bold;
}


.user-mm th,td{
    border: none;
}

#table-order{
    width: 100%;
    color: black;
    margin: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    
}
.table-order tr,td{
    width: auto;
    padding: 10px;
    border: 1px solid black;
}

.order-scroll{
    width: 400px;
    overflow-y: scroll;
}

.opciones-table{
    width: 100%;
  }
  .opciones-table td{
    width: auto;
    padding: 10px;
    border: 1px solid black;
  }

  .chaquetas-table{
    margin: 20px 0;
  }

  .chaquetas-table td{
    width: auto;
    padding: 10px;
    border: 1px solid black;
  }
  .camisetas-table{
    margin: 20px 0;
  }

  .camisetas-table td{
    width: auto;
    padding: 10px;
    border: 1px solid black;
  }

  .chaquetas-table td:nth-child(2){
    min-width: 10px;
  }
  .camisetas-table td:nth-child(2){
    min-width: 10px;
  }
  
  .chaquetas-table tr:first-child td:nth-child(2) {
    min-width: 10px;
    width: auto;
    font-weight: bold;
  }

/*************ocultar camisetas*************/
.opciones-table2{
    display: none;
    width: 100%;
  }
  
  .camisetas-table{
    display: none;
  }
/***********camisetas disable************/

.opciones-table2 td{
    width: auto;
    padding: 10px;
    border: 1px solid black;
  }
  .camisetas-table tr:first-child td:nth-child(2) {
    width: auto;
    min-width: 10px;
    font-weight: bold;
  }

  .total-table {
    margin-top: 20px;
    align-self: flex-end;
    
}
.total-table td{
    padding: 10px;
    border: 1px solid black;
}
.total-table td:nth-child(2){
    min-width: 40px;
}
  
  .total-table tr:first-child td:nth-child(1) {
    width: auto;
    padding-right: 40px;
    font-weight: bold;
  }
  .total-table tr:first-child td:nth-child(2) {
    width: auto;
  }
  
  
  .categorias-row {
    background-color: #1b1b1b;
    color: white;
    font-weight: bold;
  }
  .categorias-row tbody, tr, td{
    border: 1px solid black;
  }

.user-registers {
    width: 100%;
    text-align: start;
}

.user-registers tr:nth-child(even){background-color: #f2f2f2;}

.user-registers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1b1b1b;
  color: white;
}

.user-registers th,td {
    width: 50%;
    padding: 20px;
    border: none;
}

.user-orders {
    width: 100%;
    text-align: start;
}

.user-orders tr:nth-child(even){background-color: #f2f2f2;}

.user-orders th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1b1b1b;
  color: white;
}

.user-orders th {
    width: auto;
    padding: 20px;
}

.user-orders th:nth-child(1){
    width: 15%;
}
.user-orders th:nth-child(2){
    width: 31.3%;
}
.user-orders th:nth-child(3){
    width: 30.6%;
}
.user-orders th:nth-child(4){
    width: 29.5%;
}


.user-orders td {
    width: auto;
    padding: 20px;
}

.user-orders td:nth-child(1){
    width: 15%;
}
.user-orders td:nth-child(2){
    max-width: 100px;
    width: 30%;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-orders td:nth-child(3){
    max-width: 100px;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-orders td:nth-child(4){
    width: 20.2%;
}

#contenido3{
    padding: 20px;
    width: 90%;
    overflow: hidden;
}
#contenido4{
    padding: 20px;
    width: 90%;
    overflow: hidden;
}

.pedido-link{
    cursor: pointer;
    text-decoration: underline;
}
.pedido-link:hover{
    color: blue;
    
}



#contenido2{
    width: 100%;
    overflow: hidden;
}



/* Estilos para el contenedor del multiselector */
.status-container {
    position: relative;
    display: inline-block;
  }
  /* Estilo para el multiselector */
.multi-selector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    color: #333;
}

  
  /* Estilos para el título del multiselector */
  .status-title {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  /* Estilos para el contenedor desplegable */
  .status-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
  }
  
  /* Mostrar el contenedor desplegable cuando se hace clic en el título */
  .status-container.active .status-dropdown {
    display: block;
  }
  
  /* Estilos para las opciones del multiselector */
  .status-dropdown select {
    width: 100%;
    padding: 5px;
    border: none;
  }
  
  /* Estilos para las opciones del multiselector cuando están seleccionadas */
  .status-dropdown select option:checked {
    background-color: #007bff;
    color: #fff;
}
  



.btnmm{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #161616;
    user-select: none;
}

.btnmm:hover{
    background-color: rgb(44, 44, 44);
}

.btn-active{
    background-color: rgb(44, 44, 44);
}

.content1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

#contenido5{
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Tamaño del scroll */
.scroll::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .scroll::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 4px;
  }
  
  .scroll::-webkit-scrollbar-thumb:active {
    background-color: #383838;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #383838;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .scroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .scroll::-webkit-scrollbar-track:hover, 
  .scroll::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}



.cont-2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
}

.cont-order{
    padding: 0 5% 0;
    height:  41.7em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cont-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metrics{
    width: 95%;
    height: 90%;
    display: flex; 
}


.metrics-1{
    width: 50%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 10px;
}

.metrics-2{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    margin: 10px;
}

.content{
    display: none;
}

.content.active {
    display: block;
}

.section{
    clear: both;
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 0;
}

.span_3_of_3{
    width: 100%;    
}

.blog-post{
    color: white;
    margin: 0 auto 2em auto;
}

.bannerimg{
    width: 100%;
}
.banner{
    margin: 10px;   
}
.Banner-mobile{
    display: none;
}
.socios{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px;
}
.clientescont{
    width: 800px;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.clientes{
    width: 200px;
    height: 150px;
    margin: 20px;
}

.clientimg{
    border-radius: 5px;
    width: 100%;
}

.nosotros{
    height: 60vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.parrafo{
    width: 500px;
    text-align: center;
}

.parrafo h1,p{
    margin: 20px;
}





#index{
    scroll-margin-top: 100px;
}

#socios{
    scroll-margin-top: 280px;
}
#nosotros{
    scroll-margin-top: 300px;
}




/* footer */

footer{
    width: 100%;
    background: #141414;
    color: #999999;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}


.footer-cont{
    text-align: center;
    margin: auto;
}

.footer-cont h1{
    margin: 10px 0 auto;
    font-size: 1em;
    font-weight: 800;
}

.footer-cont h2{
    font-size: 0.8em;
    font-weight: 200;
    margin-top: 0;
}

footer a:hover{
    color: white;
    text-decoration: underline;
}

.emoji{
    width: 1em;
}



@media screen and (max-width: 40em){
    nav ul{
        max-height: 0;
    }

    nav ul .nav-item{
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        padding: 15px;
    }
    
    .menu-bar{
        display: block;
    }
    
    nav{
        background: #3b3b3b;
    }


    
    .logo{
        display: none;
    }
    .texto{
        display: none;
    }

    .reveal{
        background-color: white;
        max-height: 19em;
    }

    .parrafo{
        width: 300px;
    }
    .banner{
        display: none;
    }

    .Banner-mobile{
        display: block;
    }

    .clientescont{
        margin: auto;
    }
    .clientes{
        width: 100px;
        height: 50px;
    }

    .botonera{
        display: flex;
        flex-direction: column;
    }

    .barlogin{
        margin-bottom: 10px;
    }
    .profile{
        flex-direction: column;
    }
    .menu-manager {
        order: 2;
        width: 100%;
        height: 10%;
        flex-direction: row;
    }
    .btnmm{
        width: 100%;
        height: 100%;
    }
    .content1{
        order: 1;
        height: 90%;
        flex-direction: column;
        width: auto;
    }
    .user-orders th:nth-child(3){
        display: none;
    }
    .user-orders td:nth-child(3){
        display: none;
    }

    .cont-order{
        font-size: .7em;
        height: 49em;
    }
    #user-photo {
        width: 30%;
    }
    .content-user-reg {
        font-size: .7em;
    }
    .user-orders th {
        padding: 10px;
        font-size: .7em;
    }
    .user-orders td {
        padding: 10px;
    }
    .user-registers th, td{
        padding: 10px;
    }
    .profile-cont2 {
        flex-direction: column;
    }
    .user-orders td:nth-child(1) {
        text-wrap: nowrap;
    }
    .user-orders td:nth-child(2) {
        max-width: 100px;
        width: 30%;
        text-wrap:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .user-registers td:nth-child(1) {
        max-width: 130px;
        width: 50%;
        text-wrap:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .user-registers td:nth-child(2) {
        max-width: 100px;
        width: 50%;
        text-wrap:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}




/* Estilos para el div flotante */
#login-button {
    display: none;
    position: fixed;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
}

#login{
    width: 95px;
    cursor: pointer;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

#login:hover{
    background-color: rgb(58, 58, 58);
}

.barlogin{ 
    display: flex;
    justify-content: flex-end;
}

#google{
    background-color: rgb(0, 140, 255);
    padding: 5px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}
#google:hover{
    background-color: rgb(43, 160, 255);
}

.icon{
    margin: 5px;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-info{
    margin: 5px;
    cursor: pointer;
}

#sign-out{
    background-color: rgb(255, 42, 42);
    padding: 5px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.botonera{
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    user-select: none;
}