
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
  }

  a{
    text-decoration: none;
    color: inherit;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  border-radius: 3px;
  text-align: center;
}

.logo{
  width: 500px;
  
}
  .form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  .form2{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }

  .contopciones{
    padding: 20px;
    background-color: #eeeeee;
  }

  .contform{
    margin: 20px;
  }

  .btn1{
    margin-top: 10px;
    width: 90%;
    text-align: center;
    background-color:#ffa000;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
  }
  .btn1:hover{
    cursor: pointer;
    background-color:#df8d00;
  }

  .btn2{
    margin-top: 10px;
    width: 90%;
    text-align: center;
    background-color:#62a165;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
  }
  .btn2:hover{
    background-color:#518353;
  }

  h1{
    text-align: center;
    color: grey;
    font-size: 1em;
    margin-bottom: 30px;
  }

  h3{
    text-align: center;
  }

  .listbox{
    width: 100%;
  }

  .pse{
    width: 120px;
    margin: 10px;
  }

  .aprove{
    width: 120px;
    margin: 0 10px;
  }


  h2{
    color: grey;
    margin: 12px 0 5px;
    font-size: .7em;
  }


.container, .container2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.factura {
    width: 800px;
  }


  .container {
    background-color: white;
    z-index: 1;
  }
  
  .container2 {
    background-color: white;
    z-index: -1; /* Inicialmente detrás del container */
    display: none; /* Ocultar el container2 inicialmente */
  }
  
  #progressBar {
    width: 100%;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: 0;
    display: none;    
  }
  #progressBarFill {
    height: 100%;
    background-color: green;
}

/* TICKET COMPRA */

.cont-ticket{
  width: 400px;
  max-width: 800px;
  background-color: rgb(235, 235, 235);
}

.bar-ticket{
  width: 100%;
}

.login-container {
  text-align: center;
}

.google-button {
  background-color: #DB4437;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-button:hover {
  background-color: #C1351D;
}

#message {
  margin-top: 10px;
  color:white;
}

#tablaOpciones{
  text-align: start;
}

th{
  text-align: start;
  width: 100px;
}

td{
  width: 140px;
}

h4{
  text-align: center;
  margin: 20px;
}

.comprarbtn{
  width: 100px;
  height: 40px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: blue;
  background-color: rgb(125, 255, 125);
}

.comprarbtn:hover{
  outline: 1px solid #000000;
  font-weight: 600;
  background-color: rgb(68, 255, 68);
}

.btncomprar{
  display: flex;
  justify-content: flex-end;
}


#datos-container{
  color: black;
  margin: 60px 0 60px 0;
  display: flex;
  justify-content: space-between; /* Para alinear las tablas a los extremos */
  align-items: flex-start;
  flex-direction: column;
}

/* Estilos para la tabla de costo total */
.total-table {
  margin-top: 20px;
  align-self: flex-end;
  border: 1px solid #ddd;
  /* Puedes agregar estilos adicionales según sea necesario */
}

#vaciarOpciones{
  cursor: pointer;
  margin: 20px;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: .8em;
}

#vaciarOpciones:hover{
  font-size: .82em;
}

.botonera{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Estilos para el div flotante */
#login-button {
  display: none;
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}


#login{
  width: 95px;
  cursor: pointer;
  background-color: rgb(98, 206, 98);
  padding: 5px;
  border-radius: 5px;
}

#login:hover{
  background-color: rgb(138, 241, 138);
}

.barlogin{ 
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#google{
  background-color: rgb(0, 140, 255);
  padding: 5px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
#google:hover{
  background-color: rgb(43, 160, 255);
}

.icon{
  margin: 5px;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-info{
  color: black;
  margin: 5px;
}

#sign-out{
  background-color: rgb(255, 42, 42);
  padding: 5px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.opciones-table{
  width: 100%;
}


.categorias-row {
  font-weight: bold;
}

table td, th,tr {
  padding: 10px;
  border: 1px solid #ddd;
}

@media screen and (max-width:60em){
  .factura{
    width: 80%;
  }
  header{
    flex-direction: column;
  }
  .logo{
    width: 100%;
  }
  .barlogin{
    align-self: flex-end;
    height: auto;
  }
  .datos-container{
    width: 80%;
  }
  table {
    font-size: .8em;
  }
}
